@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.navlist {
  list-style-type: none;
  display: flex;
  justify-content: right;
  padding: 20px;
}
.navlist > * {
  margin-right: 40px;
}

.logo {
  float: left;
  font-size: 30px;
  padding: 15px 30px;
  font-family: "Open Sans", sans-serif;
}
.header {
  background-image: linear-gradient(to bottom, #244384, #183879);
  padding-bottom: 0;
  margin-bottom: 0px;
  color: white;
  font-weight: 300;
}
.fa {
  color: #6883cc;
}
.fa :hover {
  transform: scale(3);
}
.tagline {
  justify-content: left;
  padding-left: 100px;
  font-size: 20px;
}

.tagline > h1 {
  font-size: 50px;
  font-weight: 500;
}
.highlight {
  color: #6883cc;
}

/* MAIN SECTION */
main {
  color: #183879;
  text-align: center;
  font-weight: 400;
  background-color: white;
}
main h1 {
  font-weight: 400;
}
.flex-container {
  display: flex;
  /* align-items: flex-start; */
  justify-content: center;
  flex-wrap: wrap;
  color: black;
}
.flex-container > * {
  /* background-color: red; */
  margin: 2px;
  padding: 100px;
  width: 33%;
}
.flex-container .fa {
  color: #183879;
  font-size: 60px;
}
.flex-container .fa-user-group {
  font-size: 50px;
  line-height: 140%;
}
h3 {
  color: #183879;
}
button {
  padding: 15px 45px;
  border-radius: 30px;
  background-color: #6365e5;
  color: white;
  border-width: 0;
  margin-bottom: 50px;
  font-size: 18px;
}
.cta {
  float: right;
  color: black;
  margin-right: 50px;
  background-color: white;
  padding: 20px 0px;
  text-align: center;
  border-top: 4px solid #72e7e6;
  box-shadow: 2px #72e7e6;
}
#fname {
  width: 40%;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 12px;
}
#lname {
  width: 40%;
  padding: 10px 20px;
}
#email {
  padding: 10px 20px;
  width: 83.5%;
  margin-bottom: 12px;
}
.cta h1 {
  color: #183879;
  font-size: 25px;
}
.cta #b1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  width: 60%;
}
.cta #b2 {
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 15px;
  width: 60%;
  background-color: white;
  border: 2px solid #6365e5;
  color: #6365e5;
}
.footerflex {
  display: flex;
  color: #fff;
  padding: 30px 60px 30px 400px;
  line-height: 50px;
  text-align: left;
}
.footerflex > * {
  margin-right: 50px;
}
section {
  color: #707a92;
  font-weight: 400;
}
.icons > * {
  color: white;
  font-size: 11px;
  margin-right: 25px;
}
footer {
  background-color: #182137;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}
.icons {
  text-align: center;
  margin: 25px 15px;
}
#emailfooter {
  padding: 10px 20px;
  /* width: 8%; */
  margin-bottom: 12px;
  width: 50%;
}
.footerflexitem3 button {
  margin: 0 0 0 20px;
  width: 30%;
  padding: 10px 30px;
  font-size: 16px;
}
